@import "./parciales/reset";
@import "./parciales/fonts";
@import "./parciales/grid";
@import "./parciales/header";
@import "./parciales/nav";
@import "./parciales/componentes";
@import "./parciales/animaciones";
