
 .head{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    text-align: center;
    grid-area:logo;
    padding-top: 1rem;
    padding-left: 1rem;
    animation-name: efectoLogo;
    animation-duration: 1s;
}
.redes{
    text-align: center;
    padding-right: 2rem;
    animation-name: efectoRedes;
     animation-duration: 1s;
}
.redes__estilo{
    list-style-type: none;
}
.redes__estilo--line{
    display: inline-block;
}
.logo{
    font-family: $font1;
    font-size: 5rem;
}
.sub{
    font-family: $font2;
    font-size: 2rem;
}
.sub2{
    font-family: $font1;
    font-size:1.5rem;
    padding-bottom: 1rem;
}
.sub3{
    font-family: $font1;
    font-size: 1rem;
    padding-top:0.3rem;
    text-align: center;
}